.LoginC{
    padding: 20px;
    margin: 100px;
}

.cuadro1{
    background-color: #C9E5B3;
    padding: 10px;
    margin-left: 280px;
    margin-right: 270px;
    border-radius: 38px;
    height: 417px;
}


.img{
    background-image: url('../assets/img/logo3.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    padding: 50px;
}

.loginD{

    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajusta el espacio entre los elementos */
    padding-left: 100px;
    padding-right: 80px;
    color: white; 
    height: 200px;
}

.boton1{
    background-color: #72D40F;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    color: #000000; 
    border: none;
    text-align: center;
}

.boton1::placeholder {
    color: #000000; 
    opacity: 1; 
}

.boton2{
    background-color: #72D40F;
    padding: 10px;
    font-size: 16px;
    color: #000000; 
    border: none;
}

.boton2::placeholder {
    color: #000000; 
    opacity: 1; 
}