.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 100px;
    background-color: #C9E5B3;
  }

.logo{
    background-image: url("../assets/img/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 700px;
}

.botonNav{
    width: 100px; 
    height: 50px;
    background-color: #72D40F;
    border: none;
    color: #000000;
    font-size: 22px;
    border-radius: 15px;

}

.botonNav:hover{
    background-color: #8beb2c;
    color:#000000;

}
